.nav {
    display: flex;
    width: calc(1280px - 300px);
    justify-content: flex-end;
    line-height: 2.8;
  }

.nav-item-active {
    font-size: 15px;
    color: #3C64B1;
    font-weight: 400;
    margin-right: 80px;
}

.nav-item {
    font-size: 15px;
    color: black;
    font-weight: 400;
    margin-right: 80px;
}