.player_title {
    font-weight: bold;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 0;
}

.player_info {

    margin-left: 8vw;
}

.other_player {
    height: 3vh;
    color: black;
    border-bottom: 2px solid black;
    position: relative;
    top: 15px;
}