.sidebar {
    display: grid;
    background-color: #EBEFF7;
    height: 90vh;
    width: 200px;
}

.sidebar-item-active {
    color: white;
    font-size: medium;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 650; 
    text-align: center;
    background-color: #3C64B1;
}

.sidebar-item {
    color: black;
    font-size: medium;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 650; 
    text-align: center;
    background-color: #EBEFF7
}

.sideBarTeam{
    margin-left: 22px;
    font-size: 2vh;
    color: black;
    font: bold;
}

.sideBarTeam:hover{
    color: #22753b;
}


.sidebarlogo{
    margin-right: 10px;
}