
.Team_First {
    float: left;
    margin-top: 3vh;
}

.Team_First_Info {
    float: left;
    margin-left: 2.5vw;
    margin-top: 2vh;
}

.Team_First_Info_Container {
    float: left;
    background-color: white;
    width: 15vw;
    height: 10vh;
    margin-left: 5vw;
    border-radius: 12px;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0 5px 5px -5px #333;
}

.IndTeam_part {
    display: inline-block;
    background-color: #EBEFF7;
    width: 100%;
}

.IndTeam_sidebar {
    float: left;
}

.Team_First_logo_container {
    float: left;
    margin-left: 1.5vw;
    margin-top: 2vh;
}

.mention_container {
    margin-top: 0.5vw;
}

.wordcloud_container {
    margin-top: 0.5vw;
    margin-left: 64vw;
}

.mention_title {
    color: black;
    font-weight: bold;
    margin-top: 17vh;
    text-align: center;
    font-size: 20px;
}

.wordcloud_title {
    color: black;
    font-weight: bold;
    margin-top: 3.2vh;
    text-align: right;
    font-size: 20px;
    padding-right: 30vw;
}

.Home_Player_Ranking_Page {
    height: 100vh;
    background-color: #EBEFF7;
    width: 100%;
}
.Home_Player_Ranking_Table_Total {
    background-color: white;
    margin-left: 9vw;
    margin-top: 6vh;
    width: 80vw;
    border-radius: 12px;
    box-shadow: 0 5px 5px -5px #333;
}

.Home_Player_Ranking_Table_Title {
    font-size: 20px;
    width: 50vw;
    margin-bottom: 2vh;
    padding-top: 1vh;
    line-height: 100%;
}

.Home_Player_Ranking_Table_Content {
    font-size: 20px;
    width: 50vw;
    text-align: center;
    line-height: 200%;
    padding-top: 3vh;
}

.Home_Player_Ranking_Page_Title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 5vh;
    padding-top: 8vh;
    margin-bottom: -3vh;
}

.main_player_title {
    color: black;
    font-weight: bold;
    margin-top: 3.2vh;
    text-align: right;
    font-size: 20px;
    padding-left: 5vw;
    float: left;
    margin-left: 5vw;
}


.main_player_img_box {
    width: 500px;
    height: 450px;
    object-fit: cover;
    margin-top: 9vh;
    margin-left: -3vw;
    background-color: red;
    float: left;
    padding-left: 5vw;
    background-image: url('../img/야구장.png');
    background-size: 565px 425px;
}

.one {
    position: relative;
    top: 135px;
    font-weight: bold;
    font-size: 23px;
}

.two {
    position: relative;
    top:170px;
    left: 100px;
    font-weight: bold;
    font-size: 23px;

}

.three {
    position: relative;
    top:230px;
    font-weight: bold;
    font-size: 23px;
    left: 52px;
}

.four {
    position: relative;
    top: 230px;
    font-weight: bold;
    font-size: 23px;
    left:160px;
}

.five {
    font-weight: bold;
    font-size: 23px;
    position: relative;
    top: 280px;
    left: 160px;
}
